.right-top-title{
    position: fixed;
    right: 0vw;
    top: 43vh;
    display: flex;
    flex-direction: column;
}
.score-title{
    position: fixed;
    left: 0vw;
    top: 43vh;
    display: flex;
    flex-direction: column;
}
.round-bg{
    position: absolute;
    height: 30vh;
    width: 60vw;
    background: white;
    left: 25vw;
    top: 60vh;
    border-radius: 10px;
    opacity: 0.95;
}
.round{
    position: absolute;
    height: 30vh;
    width: 60vw;
    background: transparent;
    left: 25vw;
    top: 60vh;
    border-radius: 10px;
    opacity: 1;
}
.robot-msg{
    position: fixed;
    width:100%;
    display:flex;
    justify-content: center;
    justify-items: center;
    top:3vh;
    border-radius: 1vh;
}
.msg-box{
    width:60vw;
    background-color: white;
    display: flex;
    border-radius: 2vh;
}
#answer{
    position: absolute;
    width: 50vw;
    left: 37.5vw;
    bottom: 20vh;
    height: 10vh;
    text-align: center;
    display: block;
}

.user-option{
    width: 50%;
    height: 3.5vw;
    margin: 1vh;
    border-radius: 1vh;
    box-shadow: 4px 4px 8px hsl(0deg 0% 60%);
    background-color: #0058DB;
    border-color: #0058DB;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#cards_options{
    position: absolute;
    width: 46vw;
    left: 28vw;
    bottom: 13vh;
    height: 30vh;
    text-align: center;
    justify-content: center;
}
.card-option{
    width: 18.5vw;
    height: 28.5vw;
    border-radius: 20px;
    border-color: white;
    margin:1vh;
    background-color:white;
    box-shadow: 4px 4px 8px hsl(0, 0%, 60%);
}
.card {
    float:left;
    width: 31%;
    height: 38vh;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 1%;
    box-shadow: 12px 12px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.diamond {
    background-image: url(imgs/diamond.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

.joker {
    background-image: url(imgs/joker.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

.club {
    background-image: url(imgs/club.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

.card__face--back {
    background-image: url(imgs/backside.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#happy{
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/grinning-face-with-big-eyes_1f603.png");
}
#neutral{
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/neutral-face_1f610.png");
}
#angry{
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/angry-face_1f620.png");
}
.emoji{
    height: 4vh;
    width: 4vh;
    background-size: 100% 100%;
}

h1{
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    padding-top:2vh;
}
h2{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 0.8vh;
}
.title{
    font-family: sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2vw;
    color: #000000;
    margin: auto;
    padding: 3vh;
    opacity: 1;
}
.cornerText{
    color:dimgrey;
    font-size: 6vh;
    line-height: 6vh;
}
.robotname{
    padding: 3vw;
}
.secondText{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1.36vw;
    font-style: normal;
    line-height: 2.0vw;
    color: #000000;
    margin: auto;
    padding: 3vh;
    opacity: 1;
}
#dialogueText{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 2.0vw;
    font-style: normal;
    line-height: 2.5vw;
    color: #000000;
    margin: auto;
    padding: 3vh;
    opacity: 1;
}
#robot-words {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 2.0vw;
    font-style: normal;
    line-height: 2.3vw;
    color: #000000;
    margin: auto;
    padding: 3vh;
    opacity: 1;
}
.intro{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    /*display: none;*/
}
.textmask{
    margin: auto;
    margin-top: 5%;
    width: 66vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.95);
}
#begin{
    width: 30vw;
    height: 7vw;
    margin-top: 1%;
    margin-left: 35%;
    background: #0058DB;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px rgb(0 0 0 25%);

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
}

.survey{
    position: fixed;
    bottom: 10vh;
    width: 100%;
}

#continue-btn{
    width: 30vw;
    height: 7vw;
    margin-top: 1%;
    margin-left: 35%;
    background: #0058DB;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px rgb(0 0 0 25%);

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
}
.btn{
    background: #0058DB;
    border-radius: 0.5vh;
    box-shadow: 0px 4px 4px rgb(0 0 0 25%);

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
}
